@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

kbd {
	border-top-left-radius: 10px 15px;
	border-bottom-right-radius: 10px 15px;
}

.window.closing,
.window.closing * {
	pointer-events: none !important;
}

.window * {
	transition: opacity .2s, color .2s, background-color .2s;
	/* font-family: 'Exo 2', sans-serif; */
	font-family: 'Chakra Petch', sans-serif;
}

.window {
	transition: opacity .5s ease-in-out;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	opacity: 0.8;
	outline: 1px solid rgba(255, 255, 255, 0.4);
	padding: 4px;
	/* backdrop-filter: blur(2px); makes my fans spin up noticably - not worth it! */
}

.window:hover,
.window.dragging {
	opacity: 1;
}

.window.dragging {
	transition: opacity .8s ease;
}

.window .content {
	background: rgba(0, 0, 0, 0.9);
	color: #AAA;
}

.window .window-titlebar {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	padding-bottom: 4px;
}

.window .window-title-area {
	background: rgba(0, 0, 0, 0.5);
	cursor: move;
	line-height: 1.5;
}

.window .window-title {
	pointer-events: none;
	color: #CCC;
	font-weight: lighter;
}

.window:hover .window-title-area {
	background: rgba(0, 0, 0, 0.7);
}

.window .window-title-area:hover,
.window.dragging .window-title-area {
	background: rgba(55, 55, 55, 0.8);
	color: #FFF;
}

.window .handle {
	border-radius: 5%;
	/* this affects the click region, don't go overboard! */
}

.window .handle:hover,
.window .handle.resizing {
	/* not a thing as of writing, but should be */
	background: rgba(155, 230, 230, 1);
	box-shadow: 0 0 2px 2px rgba(55, 155, 155, 1);
}

.window .handle::after,
.window .handle::before {
	position: absolute;
	content: "";
	pointer-events: none;
	background: inherit;
	box-shadow: inherit;
	opacity: 0.3;
	border-radius: 50%;
}

.window .handle:nth-child(2n+1)::before,
.window .handle:nth-child(6)::before,
.window .handle:nth-child(10)::before {
	left: 0;
	right: 0;
	top: -500px;
	height: calc(100% + 500px * 2);
}

.window .handle:nth-child(2n+1)::after,
.window .handle:nth-child(4)::after,
.window .handle:nth-child(8)::after {
	top: 0;
	bottom: 0;
	left: -500px;
	width: calc(100% + 500px * 2);
}

.window-close-button {
	vertical-align: middle;
	border: none;
	color: inherit;
	/* border-radius: 50%; */
	background: transparent;
	position: relative;
	width: 20px;
	height: 20px;
	opacity: 0.6;
}

.window-close-button:focus,
.window-close-button:hover {
	opacity: 1;
	background: rgba(128, 128, 128, 0.5);
}

.window-close-button:active {
	background: rgba(128, 128, 128, 0.9);
}

.window-close-button::before,
.window-close-button::after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 15px;
	width: 2px;
	background-color: currentColor;
}

.window-close-button::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.window-close-button::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.window a {
	color: aqua;
}

.window-close-button,
.window-content button,
.window-content .button,
.window-content input[type="submit"] {
	background: rgba(0, 0, 0, 0.1);
	color: #CCC;
	border: 0;
	cursor: pointer;
	outline: 1px solid rgba(255, 255, 255, 0.4);
}

.window-close-button:hover,
.window-close-button:focus,
.window-content button:hover,
.window-content button:focus,
.window-content .button:hover,
.window-content .button:focus,
.window-content input[type="submit"]:hover,
.window-content input[type="submit"]:focus {
	background: #555;
	background: rgba(255, 255, 255, 0.2);
	color: white;
}

.window-close-button:active,
.window-content button:active,
.window-content .button:active,
.window-content input[type="submit"]:active {
	background: #333;
	background: rgba(255, 255, 255, 0.1);
	color: #FFF;
}

.window-content button.selected {
	background: rgba(50, 100, 100, 0.5) !important;
	color: #DFF !important;
}

[disabled] {
	opacity: 0.5;
}

.window-content input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="submit"]),
.window-content textarea {
	color: #FFF;
	background: #000;
	box-shadow: 0 0 10px 1px rgba(0, 155, 255, 0);
	outline: solid 1px rgba(255, 255, 255, 0.3);
	border: 0;
}

.window-content input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="submit"]):focus,
.window-content textarea:focus {
	box-shadow: 0 0 10px 1px rgba(0, 155, 255, 0.9);
	outline: solid 1px rgba(255, 255, 255, 0.3);
	outline-offset: 0;
}

.window-content input[type="checkbox"] {
	background: #000;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 16px;
	height: 16px;
	font-size: 24px;
	line-height: 10px;
	vertical-align: top;
	border: solid 1px rgba(255, 255, 255, 0.3);
}

.window-content input[type="checkbox"]:checked {
	box-shadow: 0 0 5px #0CF;
}

.window-content input[type="checkbox"]::after {
	content: "x";
	color: rgb(0, 155, 255);
	opacity: 0;
}

.window-content input[type="checkbox"]:checked::after {
	content: "✓";
	color: rgb(0, 155, 255);
	opacity: 1;
}

.window-content textarea {
	transition: outline, box-shadow .2s ease;
}

.window-content ::selection {
	background: rgba(0, 200, 255, 0.5);
}

.window-content ::-moz-selection {
	background: rgba(0, 200, 255, 0.5);
}

.select-wrapper {
	position: relative;
	display: inline-block;
}

.select-wrapper select {
	display: inline-block;
	min-width: 20ch;
	padding: 4px 3px 3px 5px;
	margin: 0;
	font: inherit;
	font-size: smaller;
	line-height: 1.2;
	background: #000;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.4);
}

.select-wrapper::after {
	content: "▼";
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	font-size: 60%;
	line-height: 2.8em;
	padding: 0 7px;
	background: #000;
	color: white;
	pointer-events: none;
}


::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background: black;
	display: block;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0.5);
}
