
.window.closing,
.window.closing * {
	pointer-events: none !important;
}
.window {
	transition: opacity .5s ease-in-out;
	position: absolute;
	background-image: url("sand-texture.jpg");
	background-color: white;
	color: black;
	outline: 1px solid rgba(128, 129, 289, 0.4);
	padding: 4px;
	font-family: sans-serif;
}
.window .window-content {
	/* background: #fafae7; */
	background: rgba(255, 255, 255, 0.3);
	/* color: #AAA; */
}
.window .window-titlebar {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	padding-bottom: 4px;
}
.window .window-title-area {
	cursor: move;
	line-height: 1.5;
	background-image: url("wood-texture.jpg");
	background-size: 210px;
	background-color: #ffaa88;
	background-blend-mode: multiply;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
	text-align: center;
}
.window .window-title {
	pointer-events: none;
}
.window .window-title-area:hover,
.window.dragging .window-title-area {
	background-color: aqua;
}
.window .handle {
	border-radius: 5%; /* this affects the click region, don't go overboard! */
	background: url("wood-texture.jpg") repeat, white;
	box-shadow: 0 0 0.3px rgba(0, 0, 0, 0.8);
	background-size: 210px;
	background-blend-mode: multiply;
}
.window .handle:hover,
.window .handle.resizing { /* not a thing as of writing, but should be */
	/* background-color: rgba(155, 230, 230, 1); */
	background-color: aqua;
}
/* corner handles */
.window .handle:nth-child(2n+1) {
	z-index: 1;
	color: white;
	box-shadow: 0 0 0.3px rgba(0, 0, 0, 0.8); /* this gets scaled */
}
.window .handle:nth-child(3),
.window .handle:nth-child(7) {
	transform: rotate(45deg) scale(600%) scaleX(300%);
	background-size: 21px; /* this gets scaled */
}
.window .handle:nth-child(5),
.window .handle:nth-child(9) {
	transform: rotate(-45deg) scale(600%) scaleX(300%);
	background-size: 21px; /* this gets scaled */
}
/* horizontally-resizing handles */
.window .handle:nth-child(10) {
	transform: scaleX(500%) translate(50%, 0);
}
.window .handle:nth-child(6) {
	transform: scaleX(500%) translate(-50%, 0);
}
/* vertically-resizing handles */
.window .handle:nth-child(8) {
	transform: scaleY(500%) translate(0, 50%);
}
.window .handle:nth-child(4) {
	transform: scaleY(500%) translate(0, -50%);
}

.window .window-close-button {
	vertical-align: middle;
	border: none;
	/* border-radius: 50%; */
	background: #fd2724;
	color: white;
	position: relative;
	width: 20px;
	height: 20px;
	opacity: 1;
	z-index: 2;
	/* transform: scale(2); */
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.window-close-button:focus,
.window-close-button:hover {
	opacity: 1;
	/* background: #ff777a; */
	transform: scale(1.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.7);
}
.window-close-button:active {
	background: #aa0000;
}
.window-close-button::before,
.window-close-button::after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 15px;
	width: 2px;
	background-color: currentColor;
}
.window-close-button::before {
	transform: translate(-50%, -50%) rotate(45deg);
}
.window-close-button::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.window ::selection {
	background: rgba(0, 200, 255, 0.5);
}
.window ::-moz-selection {
	background: rgba(0, 200, 255, 0.5);
}


::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	display: block;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
	/* border: 1px solid rgba(255, 255, 255, 0.2); */
	background: url("wood-texture.jpg"), #4a4;
	background-size: 210px;
	background-blend-mode: multiply;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-thumb:horizontal {
	/* don't want the shadow to look like it's going over the walls of the sandbox (outside the scroll container) */
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-thumb:hover {
	background-color: aqua;
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}
