
.window.closing,
.window.closing * {
	pointer-events: none !important;
}
.window {
	transition: opacity .5s ease-in-out;
	position: absolute;
	background-image: url("sand-texture.jpg"), linear-gradient(to bottom, #f5f5f5, #e5e5e5);
	background-color: white;
	/* background-clip: content-box; */
	color: black;
	outline: 1px solid rgba(128, 129, 289, 0.4);
	padding: 4px;
	font-family: sans-serif;
}
.window::before {
	/* so sand doesn't show through the miter joints */
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	border: 24px solid black;
}
.window .window-content {
	background: rgba(255, 255, 255, 0.3);
	color: black;
	margin: 16px;
	margin-top: 0;
}
.window .window-content::before {
	/* extra padding on the top of the window (in addition to what is otherwise specified) due to sandbox seats */
	content: "";
	display: block;
	height: 20px; /* less due to the titlebar */
}
.window .window-content::after {
	/* extra padding on the bottom of the window (in addition to what is otherwise specified) due to sandbox seats */
	content: "";
	display: block;
	height: 30px;
}

.window .window-titlebar {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	padding-bottom: 4px;
	margin: 16px;
	margin-bottom: 0;
}
.window .window-title-area {
	cursor: move;
	line-height: 1.5;
	background-image: url("wood-texture.jpg");
	background-size: 210px;
	background-color: #ffaa88;
	background-blend-mode: multiply;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
	text-align: center;
}
.window .window-title {
	pointer-events: none;
}
.window .window-title-area:hover,
.window.dragging .window-title-area {
	background-color: aqua;
}
.window .handle {
	overflow: hidden;
}
/* using a pseudo element for the texture in order to rotate it independently from the element */
/* (there is no background-transform or background-rotate property in CSS) */
.window .handle::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	aspect-ratio: 1;
	background: url("wood-texture.jpg") repeat, white;
	box-shadow: 0 0 0.3px rgba(0, 0, 0, 0.8);
	background-size: 210px;
	background-blend-mode: multiply;
}
.window .handle:hover::before,
.window .handle.resizing::before { /* not a thing as of writing, but should be */
	/* background-color: rgba(155, 230, 230, 1); */
	background-color: aqua;
}
/* corner handles */
.window .handle:nth-child(2n+1) {
	z-index: 1;
	color: white;
	box-shadow: 0 0 0.3px rgba(0, 0, 0, 0.8); /* this gets scaled */
	--scale: 8;
	border-radius: 15%;
}
.window .handle:nth-child(2n+1)::before {
	background-size: calc(210px / var(--scale) / 3) calc(210px / var(--scale)); /* counteracting the scale */
}
/* top right corner */
.window .handle:nth-child(3) {
	transform: rotate(45deg) scale(var(--scale)) scaleX(300%) translate(0, 170%);
}
/* bottom left corner */
.window .handle:nth-child(7) {
	transform: rotate(45deg) scale(var(--scale)) scaleX(300%) translate(0, -170%);
}
/* top left corner */
.window .handle:nth-child(5) {
	transform: rotate(-45deg) scale(var(--scale)) scaleX(300%) translate(0, 170%);
}
/* bottom right corner */
.window .handle:nth-child(9) {
	transform: rotate(-45deg) scale(var(--scale)) scaleX(300%) translate(0, -170%);
}
/* horizontally-resizing handles (vertical walls) */
.window .handle:nth-child(10)::before,
.window .handle:nth-child(6)::before {
	transform: rotate(-90deg); /* negative anchors it correctly, visible while resizing */
}
/* right */
.window .handle:nth-child(10) {
	transform: scaleX(500%) translate(-50%, 0);
	clip-path: polygon(0 20px, 100% 0, 100% 100%, 0 calc(100% - 20px));
}
/* left */
.window .handle:nth-child(6) {
	transform: scaleX(500%) translate(50%, 0);
	clip-path: polygon(100% 20px, 0 0, 0 100%, 100% calc(100% - 20px));
}
/* vertically-resizing handles (horizontal walls) */
/* top */
.window .handle:nth-child(8) {
	transform: scaleY(500%) translate(0, -50%);
	clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 100%, 0 100%);
}
/* bottom */
.window .handle:nth-child(4) {
	transform: scaleY(500%) translate(0, 50%);
	clip-path: polygon(20px 100%, calc(100% - 20px) 100%, 100% 0, 0 0);
}
/* all non-corner handles */
.window .handle:nth-child(2n)::before {
	background-size: 210px calc(210px / 3) !important; /* counteracting the scale */
}
/* give each corner random texture offsets */
.window .handle:nth-child(1)::before {
	background-position: 52px -10px;
}
.window .handle:nth-child(2)::before {
	background-position: -30px -10px;
}
.window .handle:nth-child(3)::before {
	background-position: -10px -10px;
}
.window .handle:nth-child(4)::before {
	background-position: -10px 82px;
}
.window .handle:nth-child(5)::before {
	background-position: -10px -10px;
}
.window .handle:nth-child(6)::before {
	background-position: 22px 40px;
}
.window .handle:nth-child(7)::before {
	background-position: 46px 39px;
}
.window .handle:nth-child(8)::before {
	background-position: 32px 23px;
}
.window .handle:nth-child(9)::before {
	background-position: -10px 82px;
}


.window .window-close-button {
	vertical-align: middle;
	border: none;
	/* border-radius: 50%; */
	background: #fd2724;
	color: white;
	position: relative;
	width: 20px;
	height: 20px;
	opacity: 1;
	z-index: 2;
	/* transform: scale(2); */
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.window-close-button:focus,
.window-close-button:hover {
	opacity: 1;
	/* background: #ff777a; */
	transform: scale(1.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.7);
}
.window-close-button:active {
	background: #aa0000;
}
.window-close-button::before,
.window-close-button::after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 15px;
	width: 2px;
	background-color: currentColor;
}
.window-close-button::before {
	transform: translate(-50%, -50%) rotate(45deg);
}
.window-close-button::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.window ::selection {
	background: rgba(0, 200, 255, 0.5);
}
.window ::-moz-selection {
	background: rgba(0, 200, 255, 0.5);
}


::-webkit-scrollbar {
	width: 24px;
	height: 24px;
	display: block;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
	/* border: 1px solid rgba(255, 255, 255, 0.2); */
	background: url("wood-texture.jpg"), #4a4;
	background-size: 210px;
	background-blend-mode: multiply;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-thumb:horizontal {
	/* don't want the shadow to look like it's going over the walls of the sandbox (outside the scroll container) */
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-thumb:hover {
	background-color: aqua;
	/* border: 1px solid rgba(255, 255, 255, 0.3); */
}
::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0.5);
}
