@import "../lib/os-gui/windows-98.css";
@import "../lib/98.css/98.custom-build.css";

.not-for-win98 {
	display: none;
}
.for-win98-only {
	display: unset !important;
}

.help-window .window-content,
.todo-window .window-content {
	background: var(--InfoWindow);
	color: var(--InfoText);
	border-image: var(--inset-deep-border-image);
	margin-top: 1px;
	user-select: text;
	cursor: text;
	font-family: Tahoma, sans-serif;
}

kbd {
	background: white;
	color: black;
	font: inherit;
	font-size: 0.8em;
	text-shadow: none;
}

/* TODO: this should be part of the os-gui.js library */
input[type=text],
input[type=number],
input:not([type]) {
	border-image: var(--inset-deep-border-image);
	background: var(--Window);
	color: var(--WindowText);
}
